.StyledContainer {
    position: relative;
    /* border: 1px solid #c7c7c7; */
    /* height: 128px; */
    width: 10em;
    display: flex;
    align-items: center;
    box-shadow: 0px 0px 16px 0px rgba(255, 255, 255, 0.1);
}

.StyledList {
    width: 100%;
    --height: 4em;
    height: var(--height);
    overflow-y: scroll;

    scroll-snap-type: y mandatory;
    -ms-overflow-style: none;
    scrollbar-width: none;
    background: linear-gradient(0deg, hsla(0, 0%, 0%, 1) 0%, hsla(0, 0%, 23%, 1) 50%, hsla(0, 0%, 0%, 1) 100%);
    border: 3px ridge hsl(0deg 0% 25%);
    box-sizing: border-box;
}

.StyledList::-webkit-scrollbar {
    width: 0 !important;
}

.StyledTrack {
    width: 33%;
    flex-grow: 1;
    /* height: 128px; */
    overflow-y: hidden;

    /* border-right: $ {
        props=>(props.border ? "1px solid #c7c7c7" : "")
    } */
}

.StyledNumber {
    position: relative;
    height: var(--height);
    display: flex;
    align-items: center;
    justify-content: center;
    scroll-snap-align: center;
    /* background-color: #00456a; */
    color: white;
}

.StyledNumber::after {
    content: "";
    background-color: white;
    position: absolute;
    height: 8px;
    width: 8px;
    bottom: -4px;
    border-radius: 100%;
    z-index: 5;
}

.StyledHeader {
    height: 1.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 85%;
}

.buttonContainer {
    display: flex;
    justify-content: space-evenly;
}

.buttonContainer button {
    width: 45%;
    border: 1px solid #404040;
    color: white;
    height: 1.6em;
    transform: rotateX(35deg);
    transform-origin: top;
    transition: 0.13s;
    box-shadow: 0px 10px 0px #404040;
    cursor: pointer;
}

.buttonContainer button:active {
    transform: rotateX(00deg);
    box-shadow: 0px 00px 0px #404040;
}

.buttonContainer button:first-child {
    background-color: darkgreen;
}

.buttonContainer button:last-child {
    background-color: darkred;
}