.loadingContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(var(--vh, 1vh) * 100);
}

.MainText {
    font-size: 1.7em;
}

.loadingGif {
    height: 30%;
}